.home
  .home__wrapper
    h2.home__wrapper__inner Hello Home!
    pre=data
    img(data-src="https://res.cloudinary.com/samuel-owonte/image/upload/q_auto,f_auto/v1634108774/portfolio/Rectangle_73_1_lpeg7q.jpg", alt="Hello")
    
